<a href="https://colab.research.google.com/github/AnveshAnnepaga/AI_DS/blob/main/pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
a=[1,19,20]
var = pd.Series(a,index=["x","y","z"])
print("series :",var)
print(var["y"])

series : x     1
y    19
z    20
dtype: int64
19

In [ ]:

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)
print(myvar)
print("\n")
var = pd.Series(calories,index=["day1","day2"])
print(var)

day1    420
day2    380
day3    390
dtype: int64


day1    420
day2    380
dtype: int64

In [ ]:
student={"Charlie":29,"Eva":28,"Bob":30,"Alice":95}
var = pd.Series(student)
print("Marks of students are:\n",var)
print("\n")
Svar = pd.Series(student,index=["Charlie","Eva"])
print("Markes of Charlie and Eva are:\n",Svar)
print("\n")

var +=5
print("updated markes:\n",var)
print("\n")

# for k in var.keys():
#   var[k] = var[k]+5

# for key,value in var.items():
#   var[key] = var[value]+5

above_90 = var[var>90]
print("above 90 are:\n",above_90)
print("\n")
avg = var.mean()
print("avg:",avg)

Marks of students are:
 Charlie    29
Eva        28
Bob        30
Alice      95
dtype: int64


Markes of Charlie and Eva are:
 Charlie    29
Eva        28
dtype: int64


updated markes:
 Charlie     34
Eva         33
Bob         35
Alice      100
dtype: int64


above 90 are:
 Alice    100
dtype: int64


avg: 50.5

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)
print("\n")
print(df.loc[0])
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40
2       390        45


calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40

In [ ]:
import pandas as pd
import numpy as np

arr = np.array([[25, 28], [25, 90], [26, 70], [24, 80]])

ser = pd.DataFrame(
    arr,
    index=['alice', 'bob', 'charlie', 'Eva'],
    columns=['age', 'marks']
)

print(ser)
print(ser.values)
print(ser.index)
print(ser.columns)

         age  marks
alice     25     28
bob       25     90
charlie   26     70
Eva       24     80
[[25 28]
 [25 90]
 [26 70]
 [24 80]]
Index(['alice', 'bob', 'charlie', 'Eva'], dtype='object')
Index(['age', 'marks'], dtype='object')

In [ ]:
dict = {'name':{'Ru':'Rukshan','pr':'prasadi','gi':'gihan'},
        'age':{'Ru':25,'pr':26,'gi':24},
        'marks':{'Ru':80,'pr':90,'gi':70}}
df = pd.DataFrame(dict)
print(df)
print("\n")
print(df.loc['Ru'])
print("\n")
print(df.loc[['Ru','pr']],end = "\n\n")

print(df.index)
print(df.columns)
print(df.values)
print(type(df.values))
print(df.values.ndim)
print(df.values.shape)
print(df.values.size)

       name  age  marks
Ru  Rukshan   25     80
pr  prasadi   26     90
gi    gihan   24     70


name     Rukshan
age           25
marks         80
Name: Ru, dtype: object


       name  age  marks
Ru  Rukshan   25     80
pr  prasadi   26     90

Index(['Ru', 'pr', 'gi'], dtype='object')
Index(['name', 'age', 'marks'], dtype='object')
[['Rukshan' 25 80]
 ['prasadi' 26 90]
 ['gihan' 24 70]]
<class 'numpy.ndarray'>
2
(3, 3)
9

In [ ]:

ser1 = pd.Series(['Rukshan', 'Prasadi', 'Gihan', 'Hansana'], index=['Ru', 'Pr', 'Gi', 'Ha'])
ser2 = pd.Series([25, 26, 24, 24], index=['Ru', 'Pr', 'Gi', 'Ha'])
ser3 = pd.Series([85, 90, 70, 80], index=['Ru', 'Pr', 'Gi', 'Ha'])

a_dict = {
    'name': ser1,
    'age': ser2,
    'marks': ser3
}
df = pd.DataFrame(a_dict)

print(df)

       name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   26     90
Gi    Gihan   24     70
Ha  Hansana   24     80

In [ ]:
names = pd.Series(['Rukshan', 'Prasadi', 'Gihan'], index=['Ru', 'pr', 'gi'])
ages = pd.Series([25, 26, 24], index=['Ru', 'pr', 'gi'])
marks = pd.Series([80, 90, 70], index=['Ru', 'pr', 'gi'])

df = pd.DataFrame({'name': names, 'age': ages, 'marks': marks})

top_student = df[df['marks'] == df['marks'].max()]
print(top_student)
print("\n")

df.loc['Th'] = ['Tharushi', 23, 88]
print(df)
print("\n")

older_students = df[df['age'] >= 25]
print(older_students)
print("\n")

df.loc[df['marks'] < 80, 'marks'] += 10
print(df)
print("\n")

average_marks = df['marks'].mean()
print(average_marks)

       name  age  marks
pr  Prasadi   26     90


        name  age  marks
Ru   Rukshan   25     80
pr   Prasadi   26     90
gi     Gihan   24     70
Th  Tharushi   23     88


       name  age  marks
Ru  Rukshan   25     80
pr  Prasadi   26     90


        name  age  marks
Ru   Rukshan   25     80
pr   Prasadi   26     90
gi     Gihan   24     80
Th  Tharushi   23     88


84.5

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
path = '/content/drive/MyDrive/data.csv'

df = pd.read_csv(path)

# print(df)
print(df.head(),end="\n\n")
print(df.tail(),end="\n\n")
print(df.info())
df.isnull().sum()
new_df = df.dropna()
print(new_df.to_string())
# df.fillna(130,inplace=True)
# df.fillna({"Calories": 130}, inplace=True)
x=df["Calories"].median()
df.fillna({"Calories":x},inplace=True)

x = df["Calories"].mean()
df.fillna({"Calories": x}, inplace=True)

x = df["Calories"].mode()[0]
df.fillna({"Calories": x}, inplace=True)
print("\n")
df['Date'] = pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())
print("\n")
df.dropna(subset=['Date'],inplace = True)
print(df.to_string())
print("\n")
df.loc[7,'Duration']=45
print(df.to_string())
print("\n")
for i in df.index:
  if df.loc[i,"Duration"]>120:
    df.loc[i,"Duration"]=120

# print(df.to_string())
# print("\n")

print(df.duplicated())
df.drop_duplicates(inplace = True)
print(df.to_string())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

    Duration        Date  Pulse  Maxpulse  Calories
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0


    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0


    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0


    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0


0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df.corr()

          Duration      Date     Pulse  Maxpulse  Calories
Duration  1.000000  0.212084 -0.083417 -0.296585  0.343948
Date      0.212084  1.000000 -0.369328 -0.517827 -0.368510
Pulse    -0.083417 -0.369328  1.000000  0.261426  0.490624
Maxpulse -0.296585 -0.517827  0.261426  1.000000  0.336625
Calories  0.343948 -0.368510  0.490624  0.336625  1.000000

In [ ]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
path = '/content/drive/MyDrive/data.csv'

df = pd.read_csv(path)
print(df.describe())
print("\n\n")
df.query('Pulse>110 and Calories <400')
print(df.to_string(),end="\n\n\n")
df[df['Calories'].between(200,500)]
print(df.to_string(),end="\n\n")

df.corr()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000



    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0


    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

ValueError: could not convert string to float: '2020/12/01'

In [ ]:
import pandas as pd
import numpy as np

# Load dataset
file_path = '/content/drive/MyDrive/OnlineRetail.csv'
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Inspect
print("Head of dataset")
print(df.head())

print("Tail of dataset")
print(df.tail())

print("Dataset info")
print(df.info())

print("Shape of dataset")
print(df.shape)

print("Data types")
print(df.dtypes)

# Missing Data Handling
print("Missing values per column")
print(df.isnull().sum())

df = df.dropna(subset=['CustomerID'])
df['Description'] = df['Description'].fillna('Unknown')

# Date parsing
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df = df.dropna(subset=['InvoiceDate'])

# Outliers
returns = df[df['Quantity'] < 0]
print("Number of returns")
print(returns.shape[0])

df = df[df['UnitPrice'] > 0]

# Duplicates
duplicates = df.duplicated()
print("Number of duplicates")
print(duplicates.sum())
df = df.drop_duplicates()
df = df.reset_index(drop=True)

print("Summary statistics")
print(df.describe())

print("Dataset info after cleaning")
print(df.info())

# Filtering & Sorting
print("Transactions with Quantity > 1000")
suspicious_outliers = df[df['Quantity'] > 1000]
print(suspicious_outliers)

print("Top revenue orders")
df['Revenue'] = df['Quantity'] * df['UnitPrice']
sorted_revenue = df.sort_values(by='Revenue', ascending=False)
print(sorted_revenue.head())

# Merge / Enrich Data
print("Merge with product_info")
product_info = pd.DataFrame({
    'StockCode': ['10002', '10003', '10004'],
    'Category': ['Stationery', 'Decor', 'Electronics'],
    'Supplier': ['Supplier A', 'Supplier B', 'Supplier C']
})
merged_df = pd.merge(df, product_info, on='StockCode', how='left')
print(merged_df.head())

# Grouping & Aggregation
print("Revenue by Country")
country_stats = merged_df.groupby('Country').agg(
    Total_Revenue=('Revenue', 'sum'),
    Mean_Revenue=('Revenue', 'mean'),
    Order_Count=('InvoiceNo', 'nunique')
).reset_index()
print(country_stats)

print("Price range summary")
bins = [0, 5, 20, np.inf]
labels = ['Cheap', 'Medium', 'Expensive']
merged_df['Price_Range'] = pd.cut(merged_df['UnitPrice'], bins=bins, labels=labels)
price_summary = merged_df.groupby('Price_Range').agg(
    Purchases=('InvoiceNo', 'count'),
    Avg_Revenue=('Revenue', 'mean')
).reset_index()
print(price_summary)

# Correlation
print("Correlation among numeric columns")
correlation = merged_df[['Quantity', 'UnitPrice', 'Revenue']].corr()
print(correlation)

# Rename & String Operations
print("Rename columns")
merged_df.rename(columns={'StockCode': 'Product_ID', 'UnitPrice': 'Price'}, inplace=True)
print(merged_df.head())

print("Products containing 'glass'")
merged_df['Description'] = merged_df['Description'].str.lower()
glass_products = merged_df[merged_df['Description'].str.contains('glass', na=False)]
print(glass_products.head())

# Descriptive Statistics
print("Descriptive statistics for numeric columns")
print(merged_df.describe())

print("Value counts for Country")
print(merged_df['Country'].value_counts())

print("Value counts for Category")
print(merged_df['Category'].value_counts(dropna=False))

# Advanced Filtering / Querying
print("Orders where Revenue > 1000 and Country == 'Germany'")
high_value_germany = merged_df.query("Revenue > 1000 and Country == 'Germany'")
print(high_value_germany)

print("Transactions where Quantity between 10 and 100")
quantity_range = merged_df[merged_df['Quantity'].between(10, 100)]
print(quantity_range.head())

# Export Cleaned & Enriched Data
print("Saving final cleaned and enriched dataset")
final_path_csv = '/content/drive/MyDrive/OnlineRetail_Final.csv'
final_path_excel = '/content/drive/MyDrive/OnlineRetail_Final.xlsx'
merged_df.to_csv(final_path_csv, index=False)
merged_df.to_excel(final_path_excel, index=False)
print("Final dataset saved successfully to CSV and Excel")

Head of dataset
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
Tail of dataset
       InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID Country
541904  12/9/2011 12:50       0.85     12680.0  France
541905  12/9/2011 12:50       2.10     12680.0  France
541906  12/9/2011 12:50       4.15     12680.0  France
541907  12/9/2011 12:50       4.15     12680.0  France
541908  12/9/2011 12:50       4.95     12680.0  France
Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
Shape of dataset
(541909, 8)
Data types
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
Missing values per column
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
Number of returns
8905
Number of duplicates
5225
Summary statistics
            Quantity                    InvoiceDate      UnitPrice  \
count  401564.000000                         401564  401564.000000
mean       12.149911  2011-07-10 12:06:07.514567936       3.474410
min    -80995.000000            2010-12-01 08:26:00       0.001000
25%         2.000000            2011-04-06 15:02:00       1.250000
50%         5.000000            2011-07-29 15:32:30       1.950000
75%        12.000000            2011-10-20 11:58:00       3.750000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       249.512649                            NaN      69.767501

          CustomerID
count  401564.000000
mean    15281.266797
min     12346.000000
25%     13939.000000
50%     15145.000000
75%     16788.000000
max     18287.000000
std      1713.978947
Dataset info after cleaning
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401564 entries, 0 to 401563
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401564 non-null  object
 1   StockCode    401564 non-null  object
 2   Description  401564 non-null  object
 3   Quantity     401564 non-null  int64
 4   InvoiceDate  401564 non-null  datetime64[ns]
 5   UnitPrice    401564 non-null  float64
 6   CustomerID   401564 non-null  float64
 7   Country      401564 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.5+ MB
None
Transactions with Quantity > 1000
       InvoiceNo StockCode                        Description  Quantity  \
3566      536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
3661      536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
3662      536830     21915             RED  HARMONICA IN BOX       1400
4189      536890    17084R              ASSORTED INCENSE PACK      1440
10674     537659     22189            CREAM HEART CARD HOLDER      1008
...          ...       ...                                ...       ...
396913    581115     22413    METAL SIGN TAKE IT OR LEAVE IT       1404
398022    581175     23084                 RABBIT NIGHT LIGHT      1440
400741    581458     22197                     POPCORN HOLDER      1500
400742    581459     22197                     POPCORN HOLDER      1200
401091    581483     23843        PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice  CustomerID         Country
3566   2010-12-02 16:48:00       0.55     15299.0  United Kingdom
3661   2010-12-02 17:38:00       0.18     16754.0  United Kingdom
3662   2010-12-02 17:38:00       1.06     16754.0  United Kingdom
4189   2010-12-03 11:48:00       0.16     14156.0            EIRE
10674  2010-12-07 16:43:00       2.31     18102.0  United Kingdom
...                    ...        ...         ...             ...
396913 2011-12-07 12:20:00       2.75     15195.0  United Kingdom
398022 2011-12-07 15:16:00       1.79     14646.0     Netherlands
400741 2011-12-08 18:45:00       0.72     17949.0  United Kingdom
400742 2011-12-08 18:46:00       0.72     17949.0  United Kingdom
401091 2011-12-09 09:15:00       2.08     16446.0  United Kingdom

[104 rows x 8 columns]
Top revenue orders
       InvoiceNo StockCode                          Description  Quantity  \
401091    581483     23843          PAPER CRAFT , LITTLE BIRDIE     80995
37505     541431     23166       MEDIUM CERAMIC TOP STORAGE JAR     74215
157392    556444     22502       PICNIC BASKET WICKER 60 PIECES        60
119896    551697      POST                              POSTAGE         1
251979    567423     23243  SET OF TEA COFFEE SUGAR TINS PANTRY      1412

               InvoiceDate  UnitPrice  CustomerID         Country    Revenue
401091 2011-12-09 09:15:00       2.08     16446.0  United Kingdom  168469.60
37505  2011-01-18 10:01:00       1.04     12346.0  United Kingdom   77183.60
157392 2011-06-10 15:28:00     649.50     15098.0  United Kingdom   38970.00
119896 2011-05-03 13:46:00    8142.75     16029.0  United Kingdom    8142.75
251979 2011-09-20 11:05:00       5.06     17450.0  United Kingdom    7144.72
Merge with product_info
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Revenue  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom    15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom    22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom    20.34

  Category Supplier
0      NaN      NaN
1      NaN      NaN
2      NaN      NaN
3      NaN      NaN
4      NaN      NaN
Revenue by Country
                 Country  Total_Revenue  Mean_Revenue  Order_Count
0              Australia     137009.770    109.171131           69
1                Austria      10154.320     25.322494           19
2                Bahrain        548.400     32.258824            2
3                Belgium      40910.960     19.773301          119
4                 Brazil       1143.600     35.737500            1
5                 Canada       3666.380     24.280662            6
6        Channel Islands      20076.390     26.520991           33
7                 Cyprus      12858.760     21.045434           20
8         Czech Republic        707.720     23.590667            5
9                Denmark      18768.140     48.247147           21
10                  EIRE     250001.780     33.454005          319
11    European Community       1291.750     21.176230            5
12               Finland      22326.740     32.124806           48
13                France     196626.050     23.203452          458
14               Germany     221509.470     23.370908          603
15                Greece       4710.520     32.263836            6
16               Iceland       4310.000     23.681319            7
17                Israel       6988.400     28.293117            6
18                 Italy      16890.510     21.034259           55
19                 Japan      35340.620     98.716816           28
20               Lebanon       1693.880     37.641778            1
21             Lithuania       1661.060     47.458857            4
22                 Malta       2505.470     19.728110           10
23           Netherlands     284661.540    120.262586          100
24                Norway      35163.460     32.408719           40
25                Poland       7213.140     21.152903           24
26              Portugal      28995.760     19.711598           70
27                   RSA       1002.310     17.584386            1
28          Saudi Arabia        131.170     13.117000            2
29             Singapore       9120.390     39.827031           10
30                 Spain      54756.030     21.668393          105
31                Sweden      36585.410     79.360976           46
32           Switzerland      55739.400     29.711834           71
33                   USA       1730.920      5.948179            7
34  United Arab Emirates       1902.280     27.974706            3
35        United Kingdom    6747156.154     18.915280        19854
36           Unspecified       2660.770     11.040539            8
Price range summary

/tmp/ipython-input-2818174657.py:88: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_summary = merged_df.groupby('Price_Range').agg(

  Price_Range  Purchases  Avg_Revenue
0       Cheap     348654    19.154663
1      Medium      51555    29.685138
2   Expensive       1355    51.477601
Correlation among numeric columns
           Quantity  UnitPrice   Revenue
Quantity   1.000000  -0.001241  0.919011
UnitPrice -0.001241   1.000000 -0.129311
Revenue    0.919011  -0.129311  1.000000
Rename columns
  InvoiceNo Product_ID                          Description  Quantity  \
0    536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365      71053                  WHITE METAL LANTERN         6
2    536365     84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  Price  CustomerID         Country  Revenue Category  \
0 2010-12-01 08:26:00   2.55     17850.0  United Kingdom    15.30      NaN
1 2010-12-01 08:26:00   3.39     17850.0  United Kingdom    20.34      NaN
2 2010-12-01 08:26:00   2.75     17850.0  United Kingdom    22.00      NaN
3 2010-12-01 08:26:00   3.39     17850.0  United Kingdom    20.34      NaN
4 2010-12-01 08:26:00   3.39     17850.0  United Kingdom    20.34      NaN

  Supplier Price_Range
0      NaN       Cheap
1      NaN       Cheap
2      NaN       Cheap
3      NaN       Cheap
4      NaN       Cheap
Products containing 'glass'
    InvoiceNo Product_ID                        Description  Quantity  \
6      536365      21730  glass star frosted t-light holder         6
64     536373      21730  glass star frosted t-light holder         6
81     536375      21730  glass star frosted t-light holder         6
138    536381      22778                 glass cloche small         3
148    536382      22798   antique glass dressing table pot         8

            InvoiceDate  Price  CustomerID         Country  Revenue Category  \
6   2010-12-01 08:26:00   4.25     17850.0  United Kingdom    25.50      NaN
64  2010-12-01 09:02:00   4.25     17850.0  United Kingdom    25.50      NaN
81  2010-12-01 09:32:00   4.25     17850.0  United Kingdom    25.50      NaN
138 2010-12-01 09:41:00   3.95     15311.0  United Kingdom    11.85      NaN
148 2010-12-01 09:45:00   2.95     16098.0  United Kingdom    23.60      NaN

    Supplier Price_Range
6        NaN       Cheap
64       NaN       Cheap
81       NaN       Cheap
138      NaN       Cheap
148      NaN       Cheap
Descriptive statistics for numeric columns
            Quantity                    InvoiceDate          Price  \
count  401564.000000                         401564  401564.000000
mean       12.149911  2011-07-10 12:06:07.514567936       3.474410
min    -80995.000000            2010-12-01 08:26:00       0.001000
25%         2.000000            2011-04-06 15:02:00       1.250000
50%         5.000000            2011-07-29 15:32:30       1.950000
75%        12.000000            2011-10-20 11:58:00       3.750000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       249.512649                            NaN      69.767501

          CustomerID        Revenue
count  401564.000000  401564.000000
mean    15281.266797      20.615691
min     12346.000000 -168469.600000
25%     13939.000000       4.250000
50%     15145.000000      11.700000
75%     16788.000000      19.800000
max     18287.000000  168469.600000
std      1713.978947     430.373603
Value counts for Country
Country
United Kingdom          356704
Germany                   9478
France                    8474
EIRE                      7473
Spain                     2527
Netherlands               2367
Belgium                   2069
Switzerland               1876
Portugal                  1471
Australia                 1255
Norway                    1085
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     247
Unspecified                241
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Name: count, dtype: int64
Value counts for Category
Category
NaN           401515
Stationery        49
Name: count, dtype: int64
Orders where Revenue > 1000 and Country == 'Germany'
Empty DataFrame
Columns: [InvoiceNo, Product_ID, Description, Quantity, InvoiceDate, Price, CustomerID, Country, Revenue, Category, Supplier, Price_Range]
Index: []
Transactions where Quantity between 10 and 100
   InvoiceNo Product_ID                      Description  Quantity  \
9     536367      84879    assorted colour bird ornament        32
26    536370      22728        alarm clock bakelike pink        24
27    536370      22727        alarm clock bakelike red         24
28    536370      22726       alarm clock bakelike green        12
29    536370      21724  panda and bunnies sticker sheet        12

           InvoiceDate  Price  CustomerID         Country  Revenue Category  \
9  2010-12-01 08:34:00   1.69     13047.0  United Kingdom    54.08      NaN
26 2010-12-01 08:45:00   3.75     12583.0          France    90.00      NaN
27 2010-12-01 08:45:00   3.75     12583.0          France    90.00      NaN
28 2010-12-01 08:45:00   3.75     12583.0          France    45.00      NaN
29 2010-12-01 08:45:00   0.85     12583.0          France    10.20      NaN

   Supplier Price_Range
9       NaN       Cheap
26      NaN       Cheap
27      NaN       Cheap
28      NaN       Cheap
29      NaN       Cheap
Saving final cleaned and enriched dataset
Final dataset saved successfully to CSV and Excel